[Desktop Entry]
Name=Now Playing
Comment=Display currently playing media
Type=Application
Exec=/usr/bin/cosmic-ext-applet-now-playing
Icon=multimedia-player-symbolic
Terminal=false
Categories=COSMIC;
NoDisplay=true
X-CosmicApplet=true
X-CosmicShrinkable=true
